<div class="container-fluid border-0 bg-light">
	<div class="row">
		<div class="col-xxl">
			<nav class="navbar navbar-expand-lg bg-light p-3">
        <div class="container-fluid g_footer border-0">
          <div class="text-center">
              <a class="navbar-brand ms-1 footer_a" href="/">
                <img src="https://i.ibb.co/L5W7Qxg/glowbal.jpg" alt="glowbal" border="0" width="150" height="30">
              </a>
          </div>
          
          <div class="text-center">
              <a class="footer_a" href="https://glowbal.co.uk/support.html" target="_blank">
                      Support
              </a>
          </div>
          
          <div class="text-center">
              <a class="footer_a" href="https://glowbal.co.uk/privacy.html" target="_blank">
                      Privacy Policy
              </a>
          </div>
          
          <div class="text-center">
              <a class="footer_a" href="https://glowbal.co.uk/terms.html" target="_blank">
                      Terms of Use
              </a>
          </div>
          
          <div class="text-center">
              <a class="footer_a" href="https://glowbal.co.uk/dmca.html" target="_blank">
                      DMCA
              </a>
          </div>
          
          <div class="text-center">
              <a class="me-3 footer_a" href="https://glowbal.co.uk/eula.html" target="_blank">
                      EULA
              </a>
          </div>
        </div>
      </nav>
		</div>
	</div>
</div>