<div class="container-fluid border-0 bg-light">
	<div class="row">
		<div class="col-xxl">
			<nav class="navbar navbar-expand-lg bg-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
              <img src="https://i.ibb.co/L5W7Qxg/glowbal.jpg" alt="glowbal" border="0" width="150" height="30">
            </a>
          
            <a href="/logout" class="btn me-2" type="button">
              <!-- <img src="https://i.ibb.co/GFJTvcw/logout.png" alt="logout" border="0" width="30" height="30"> -->
              <img src="https://i.ibb.co/56tx3f8/logout-1.png" alt="logout" border="0" width="30" height="30">  
            </a>
        </div>
      </nav>
		</div>
	</div>
</div>